<div mat-dialog-content>
  <h3>{{titolo}}</h3>

  <mat-divider></mat-divider>
  <br>

  <form [formGroup]="frm">

    <mat-form-field appearance="fill">
      <mat-label>Titolo</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Autore *</mat-label>
      <mat-select formControlName="author_id">
        <mat-option *ngFor="let item of authors" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Prezzo</mat-label>
      <input matInput type="number" step="any" formControlName="price">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ISBN</mat-label>
      <input matInput formControlName="isbn">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Scaffale</mat-label>
      <input matInput formControlName="scaffale">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Note</mat-label>
      <textarea matInput formControlName="note"></textarea>
    </mat-form-field>

    <!--
    [disabled]="!frm.valid"
    -->

  </form>

</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary">Salva</button>
  <button mat-raised-button color="warn" (click)="close()">Annulla</button>
</div>
