@import '~ngx-toastr/toastr.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#main {
  width: 98%;
  margin: 20px auto;
}

.mr_5 {
  margin-right: 5px !important;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

mat-form-field.mat-form-field {
  width: 100%;
  font-size: 16px;
}

.mat-dialog-content {
  max-height: 90vh !important;
}
