html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#main {
  width: 98%;
  margin: 20px auto;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}
